*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    height: 100%;
    width: 100%;
}
#background{
    height: 100%;
    width: 100%;
    background: url(../images/background.jpg);
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
}
#between{
  width: 100%;;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#content{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#pos{
  padding-top: 50px;
  font-size: 23px;
  float: left;
  color: #ffffff;
}
.Column_Position a{
    color: #fff !important;
}
.Column_Position span{
    color: #fff !important;
}
#step{
  float: right;
  padding-top: 50px;
}
#banquan{
  width: 1200px;
  height: 140px;
  position: absolute;
  bottom: 0;
}
#font{
  float: left;
}
#lianxi p{
  font-size: 14px;
  color: #ffffff;
  margin-top: 9px;
}
#erweima{
  float: right;
}
.ewm_img{
  padding: 20px;
  float: right;
  width: 100px;
  height: 100px;
}
.ewm_img img{
  width: 100%;
}
.kj_img{
  position: absolute;
  z-index: 2;
  animation: myfirst 10s infinite linear;
}
.kj_img1{
  animation: myfirst1 10s infinite linear;
}
.kj_img2{
  animation: myfirst2 10s infinite linear;
}
@-webkit-keyframes myfirst2 /* Safari 和 Chrome */
{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-moz-keyframes myfirst2 /* Firefox */
{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes myfirst2 /* Safari 和 Chrome */
{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-o-keyframes myfirst2 /* Opera */
{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes myfirst1 /* Safari 和 Chrome */
{
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}

@-moz-keyframes myfirst1 /* Firefox */
{
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}

@-webkit-keyframes myfirst1 /* Safari 和 Chrome */
{
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}

@-o-keyframes myfirst1 /* Opera */
{
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}


#enter{
    width: 250px;
    height: 250px;
    left: 40%;
    top: 35%;
    -webkit-perspective: 40em;
    -moz-perspective: 40em;
    -ms-perspective: 40em;
    perspective: 40em;
    -o-erspective: 40em;
    -webkit-perspective-origin: center center;
    -moz-perspective-origin: center center;
    -ms-perspective-origin: center center;
    -o-perspective-origin: center center;
    perspective-origin: center center;
    overflow: hidden;
    font-size: 8px;
    background-size: 2rem 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            position: absolute;
}
body{
    /*-webkit-perspective: 40em;
            perspective: 40em;
    -webkit-perspective-origin: center center;
            perspective-origin: center center;
    overflow: hidden;
    font-size: 14px;
    background-size: 2rem 100%;*/
    width: 100%;
    height: 100%;
  }
  
  .container {
    width: 10em;
    height: 10em;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: rotate 12s infinite linear;
    -ms-animation: rotate 12s infinite linear;
    -moz-animation: rotate 12s infinite linear;
    -o-animation: rotate 12s infinite linear;
            animation: rotate 12s infinite linear;
  }
  
  .cube {
    position: absolute;
    width: 10em;
    height: 10em;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .cube--2 {
    -webkit-transform: rotateX(45deg) rotateY(45deg);
    -ms-transform: rotateX(45deg) rotateY(45deg);
    -moz-transform: rotateX(45deg) rotateY(45deg);
    -o-transform: rotateX(45deg) rotateY(45deg);
            transform: rotateX(45deg) rotateY(45deg);
  }
  .cube--3 {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    -ms-transform: rotateX(45deg) rotateZ(45deg);
    -moz-transform: rotateX(45deg) rotateZ(45deg);
    -o-transform: rotateX(45deg) rotateZ(45deg);
            transform: rotateX(45deg) rotateZ(45deg);
  }
  
  .side {
    position: absolute;
    width: 10em;
    height: 10em;
    border: 2px dotted rgba(150,150,255, 0.75);       /*in1*/
    border-radius: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .side::before, .side::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-sizing: border-box;
    border-radius: inherit;
    border: 1px solid;
    box-shadow: inset 0 0 2em, 0 0 2em;
  }
  .side::before {
    width: 2.5em;
    height: 2.5em;
    color: rgba(255,255,255, 0.75);         /*in2*/
  }
  .side::after {
    width: 1.5em;
    height: 1.5em;
    -webkit-transform: translateZ(-2em);
            transform: translateZ(-2em);
    box-shadow: inset 0 0 1em, 0 0 1em;
    color: rgba(255,200,0, 0.75);     /*in3*/
  }
  
  .side--back {
    -webkit-transform: translateZ(-5em) rotateY(180deg);
    -ms-transform: translateZ(-5em) rotateY(180deg);
    -moz-transform: translateZ(-5em) rotateY(180deg);
    -o-transform: translateZ(-5em) rotateY(180deg);
            transform: translateZ(-5em) rotateY(180deg);
  }
  
  .side--left {
    -webkit-transform: translateX(-5em) rotateY(-90deg);
    -ms-transform: translateX(-5em) rotateY(-90deg);
    -moz-transform: translateX(-5em) rotateY(-90deg);
    -o-transform: translateX(-5em) rotateY(-90deg);
            transform: translateX(-5em) rotateY(-90deg);
  }
  
  .side--right {
    -webkit-transform: translateX(5em) rotateY(90deg);
    -ms-transform: translateX(5em) rotateY(90deg);
    -moz-transform: translateX(5em) rotateY(90deg);
    -o-transform: translateX(5em) rotateY(90deg);
            transform: translateX(5em) rotateY(90deg);
  }
  
  .side--top {
    -webkit-transform: translateY(-5em) rotateX(90deg);
    -ms-transform: translateY(-5em) rotateX(90deg);
    -moz-transform: translateY(-5em) rotateX(90deg);
    -o-transform: translateY(-5em) rotateX(90deg);
            transform: translateY(-5em) rotateX(90deg);
  }
  
  .side--bottom {
    -webkit-transform: translateY(5em) rotateX(-90deg);
    -ms-transform: translateY(5em) rotateX(-90deg);
    -moz-transform: translateY(5em) rotateX(-90deg);
    -o-transform: translateY(5em) rotateX(-90deg);
            transform: translateY(5em) rotateX(-90deg);
  }
  
  .side--front {
    -webkit-transform: translateZ(5em);
    -ms-transform: translateZ(5em);
    -moz-transform: translateZ(5em);
    -o-transform: translateZ(5em);
            transform: translateZ(5em);
  }
  
  .side__inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 5em;
    height: 5em;
    margin: auto;
    border-radius: inherit;
    border: 1px solid;
    box-shadow: inset 0 0 2em;
    color: rgba(100,100,255, 0.75);         /*o1*/
    -webkit-transform: translateZ(2em);
    -ms-transform: translateZ(2em);
    -moz-transform: translateZ(2em);
    -o-transform: translateZ(2em);
            transform: translateZ(2em);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .side__inner::before, .side__inner::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-sizing: border-box;
    border-radius: inherit;
    border: 1px solid;
    box-shadow: inset 0 0 2em, 0 0 2em;
  }
  .side__inner::before {
    width: 2.5em;
    height: 2.5em;
    -webkit-transform: translateZ(2em);
    -ms-transform: translateZ(2em);
    -moz-transform: translateZ(2em);
    -o-transform: translateZ(2em);
            transform: translateZ(2em);
    color: rgba(50,50,250, 0.35);         /*o2*/
  }
  .side__inner::after {
    width: 1.5em;
    height: 1.5em;
    -webkit-transform: translateZ(4em);
    -ms-transform: translateZ(4em);
    -moz-transform: translateZ(4em);
    -o-transform: translateZ(4em);
            transform: translateZ(4em);
    color: rgba(0,0,250, 0.35);         /*03*/
  }
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
      -ms-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
      -moz-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
      -o-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
              transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      -webkit-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
      -ms-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
      -moz-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
      -o-transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
              transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
    }
  }