#footer{
    width: 100%;
    height: 165px;
    background-color: #07223d;
}
#foot{
    width: 1000px;
    height: 165px;
    margin: 0 auto;
}
#footerleft{
    width: 500px;
    height: 165px;
}
#xiaoxun{
    padding-top: 20px;
    padding-bottom: 20px;
}
#banquan{
    color: #fff;
    font-size: 14px;
    line-height: 23px;
}
#footerright{
    width: 500px;
    height: 165px;
}
.ewm_foot{
    width: 100px;
    height: 100px;
    float: right;
    margin: 31px 0 0 20px;
}
.ewm_foot img{
    width: 100%;
    height: 100%;
}